## In this Tutorial will explain the GroupBy and Aggregate Functions in Pyspark

In [2]:
#Build SparkSession
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Tutorial4").getOrCreate()

In [3]:
spark

In [5]:
#Read the data from csv
df = spark.read.csv("top_4000_movies_data.csv",header=True,inferSchema=True)
df.show()

+------------+--------------------+-----------------+--------------+---------------+
|Release Date|         Movie Title|Production Budget|Domestic Gross|Worldwide Gross|
+------------+--------------------+-----------------+--------------+---------------+
|   4/23/2019|   Avengers: Endgame|        400000000|     858373000|     2797800564|
|   5/20/2011|Pirates of the Ca...|        379000000|     241071802|     1045713802|
|   4/22/2015|Avengers: Age of ...|        365000000|     459005868|     1395316979|
|  12/16/2015|Star Wars Ep. VII...|        306000000|     936662225|     2064615817|
|   4/25/2018|Avengers: Infinit...|        300000000|     678815482|     2044540523|
|   5/24/2007|Pirates of the Ca...|        300000000|     309420425|      960996492|
|  11/13/2017|      Justice League|        300000000|     229024295|      655945209|
|   10/6/2015|             Spectre|        300000000|     200074175|      879500760|
|  12/18/2019|Star Wars: The Ri...|        275000000|     515202542|     1072848487|
|   5/23/2018|Solo: A Star Wars...|        275000000|     213767512|      393151347|
|    3/7/2012|         John Carter|        263700000|      73058679|      282778100|
|   3/23/2016|Batman v Superman...|        263000000|     330360194|      872395091|
|  12/13/2017|Star Wars Ep. VII...|        262000000|     620181382|     1331635141|
|   7/11/2019|       The Lion King|        260000000|     543638043|     1654367425|
|  11/24/2010|             Tangled|        260000000|     200821936|      584899819|
|    5/4/2007|        Spider-Man 3|        258000000|     336530303|      894860230|
|   4/22/2016|Captain America: ...|        250000000|     408084349|     1151918521|
|   7/15/2009|Harry Potter and ...|        250000000|     302089278|      929411069|
|  12/12/2013|The Hobbit: The D...|        250000000|     258241522|      959358436|
|  12/10/2014|The Hobbit: The B...|        250000000|     255119788|      940389558|
+------------+--------------------+-----------------+--------------+---------------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- Release Date: string (nullable = true)
 |-- Movie Title: string (nullable = true)
 |-- Production Budget: integer (nullable = true)
 |-- Domestic Gross: integer (nullable = true)
 |-- Worldwide Gross: long (nullable = true)

## GroupBy Operation on df

In [12]:
df.groupBy(df["Release Date"]).sum().show()

+------------+----------------------+-------------------+--------------------+
|Release Date|sum(Production Budget)|sum(Domestic Gross)|sum(Worldwide Gross)|
+------------+----------------------+-------------------+--------------------+
|   3/27/2009|             195000000|          210586220|           398994028|
|   2/18/2005|             203500000|          131143582|           408652205|
|   7/11/1997|             118000000|          109085542|           174065213|
|   6/10/2011|              50000000|          127004179|           257972745|
|   9/17/1982|              46000000|            4408636|             4408636|
|   11/7/2003|              77000000|          235004118|           469190785|
|   12/8/2016|              45000000|           54767494|           115097874|
|    7/1/1992|              82000000|          177586369|           263492510|
|   8/22/2003|              75000000|           39305343|            39320998|
|    2/7/1992|              40000000|           44948240|            44948240|
|    6/1/2018|              64000000|           80574075|           144264355|
|   1/18/2002|              32000000|           81150692|           116898028|
|    6/1/2005|              25000000|           39053061|            41560117|
|  11/26/1986|              24000000|          109713132|           133000000|
|   8/23/2013|              19200000|                  0|             5617460|
|    6/6/2008|             238000000|          321159189|           861968871|
|   1/25/2021|             117000000|                  0|           699084069|
|  12/24/2010|             112000000|           42779261|           232017848|
|   2/21/2014|             108000000|           53867032|           147428933|
|  11/24/2016|              75000000|          270329045|           632483611|
+------------+----------------------+-------------------+--------------------+
only showing top 20 rows

In [14]:
df.groupBy("Release Date").mean().show()

+------------+----------------------+-------------------+--------------------+
|Release Date|avg(Production Budget)|avg(Domestic Gross)|avg(Worldwide Gross)|
+------------+----------------------+-------------------+--------------------+
|   3/27/2009|                9.75E7|        1.0529311E8|        1.99497014E8|
|   2/18/2005|              5.0875E7|       3.27858955E7|      1.0216305125E8|
|   7/11/1997|                 5.9E7|        5.4542771E7|        8.70326065E7|
|   6/10/2011|                 5.0E7|       1.27004179E8|        2.57972745E8|
|   9/17/1982|                 4.6E7|          4408636.0|           4408636.0|
|   11/7/2003|                3.85E7|       1.17502059E8|       2.345953925E8|
|   12/8/2016|                 4.5E7|        5.4767494E7|        1.15097874E8|
|    7/1/1992|                 4.1E7|       8.87931845E7|        1.31746255E8|
|   8/22/2003|                 2.5E7|        1.3101781E7|1.3106999333333334E7|
|    2/7/1992|                 4.0E7|         4.494824E7|          4.494824E7|
|    6/1/2018|  2.1333333333333332E7|        2.6858025E7|4.8088118333333336E7|
|   1/18/2002|                 3.2E7|        8.1150692E7|        1.16898028E8|
|    6/1/2005|                 2.5E7|        3.9053061E7|         4.1560117E7|
|  11/26/1986|                 2.4E7|       1.09713132E8|              1.33E8|
|   8/23/2013|                1.92E7|                0.0|           5617460.0|
|    6/6/2008|   7.933333333333333E7|       1.07053063E8|        2.87322957E8|
|   1/25/2021|                1.17E8|                0.0|        6.99084069E8|
|  12/24/2010|                1.12E8|        4.2779261E7|        2.32017848E8|
|   2/21/2014|                 5.4E7|        2.6933516E7|        7.37144665E7|
|  11/24/2016|                 7.5E7|       2.70329045E8|        6.32483611E8|
+------------+----------------------+-------------------+--------------------+
only showing top 20 rows

In [16]:
df.groupBy("Release Date").count().show()

+------------+-----+
|Release Date|count|
+------------+-----+
|   3/27/2009|    2|
|   2/18/2005|    4|
|   7/11/1997|    2|
|   6/10/2011|    1|
|   9/17/1982|    1|
|   11/7/2003|    2|
|   12/8/2016|    1|
|    7/1/1992|    2|
|   8/22/2003|    3|
|    2/7/1992|    1|
|    6/1/2018|    3|
|   1/18/2002|    1|
|    6/1/2005|    1|
|  11/26/1986|    1|
|   8/23/2013|    1|
|    6/6/2008|    3|
|   1/25/2021|    1|
|  12/24/2010|    1|
|   2/21/2014|    2|
|  11/24/2016|    1|
+------------+-----+
only showing top 20 rows

In [17]:
df.groupBy("Release Date").max().show()

+------------+----------------------+-------------------+--------------------+
|Release Date|max(Production Budget)|max(Domestic Gross)|max(Worldwide Gross)|
+------------+----------------------+-------------------+--------------------+
|   3/27/2009|             175000000|          198351526|           381687380|
|   2/18/2005|             100000000|           75976178|           221593554|
|   7/11/1997|              90000000|          100920329|           165900000|
|   6/10/2011|              50000000|          127004179|           257972745|
|   9/17/1982|              46000000|            4408636|             4408636|
|   11/7/2003|              45000000|          175531840|           246821053|
|   12/8/2016|              45000000|           54767494|           115097874|
|    7/1/1992|              42000000|          107533925|           132440066|
|   8/22/2003|              41000000|           22108977|            22108977|
|    2/7/1992|              40000000|           44948240|            44948240|
|    6/1/2018|              35000000|           44069456|            81263489|
|   1/18/2002|              32000000|           81150692|           116898028|
|    6/1/2005|              25000000|           39053061|            41560117|
|  11/26/1986|              24000000|          109713132|           133000000|
|   8/23/2013|              19200000|                  0|             5617460|
|    6/6/2008|             130000000|          215434591|           631910531|
|   1/25/2021|             117000000|                  0|           699084069|
|  12/24/2010|             112000000|           42779261|           232017848|
|   2/21/2014|              80000000|           30697999|           108469033|
|  11/24/2016|              75000000|          270329045|           632483611|
+------------+----------------------+-------------------+--------------------+
only showing top 20 rows

In [18]:
df.agg({"Release Date":"sum"}).show()

+-----------------+
|sum(Release Date)|
+-----------------+
|             null|
+-----------------+